@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
    position: relative;
}

header{
    background: #0386C4;
    position: relative;
    z-index: 11;
    height: 60px;
}

.header__root{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
}

.logo img{
    margin-right: 10px;
    width:  40px;
    vertical-align: bottom;
}

.menu{
    font-size: 22px;
    font-weight: 500;
}

.menu a{
    color: white;
}

.menu a:hover{
    color: #01577D;
    transition: 0.5s;
}

.menu li{
    position: relative;
}

.menu__list>li:hover .sub-menu__list{
    display: block;
}

.menu__link{
    padding: 15px 30px;
    cursor: pointer;
}

.menu__link:hover{
    background: #EDC339;
}

.menu__item{
    padding: 15px 0px;
}

.menu__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-menu__list a{
    padding: 8px;
    display: inline-block;
    width: 100%;
    background: #0386C4;
}

.sub-menu__list a:hover{
    transition: ease-in 0.2s;
    background: #EDC339;
}

.sub-menu__link{
    font-size: 18px;
    white-space: nowrap;
}

.sub-menu__list{
    position: absolute;
    z-index: 10;
    top: 55px;
    left: -20px;
    display: none;
    cursor: pointer;
    min-width: 180px;
}
/*  ============ Main =============   */

.main{
    width: 100%;
    height: 100%;
}


.filter{
    width: 100%;
    height: calc(100vh - 60px);
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
}

main{
    background: url(../images/background.jpg) center/cover ;
}

.main__box h1{
    font-size: 55px;
    font-weight: 700;
    color: white;
}

.main__box p{
    color: white;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 400;
}

/*    info    */


.info{
    background: linear-gradient(180.54deg, #97c0d6 40.71%, #d5d8da 69.09%);
    background-size: cover;
    padding: 30px 0px;
}

.info h1{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: #056D9E;
    position: relative;
}

.info hr{
    height:3px;
    border-width:0;
    width: 200px;
    margin: auto;
    background-color: #056D9E;
}

.info__box{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.info__items{
    width: calc(30%);
    padding: 10px;
    border: 3px solid  #056D9E;
    font-size: 30px; 
    border-radius: 10px;
    color: #045acf;
    text-align: center;
}

.counter {
    color: black;
}